<h1> My Coupons </h1>

<h3> Coupons: </h3>

<p><%= link_to "Create New Coupon", "/merchants/#{@merchant.id}/coupons/new" %></p>

<div id="active">
<h3> Active Coupons: </h3>
<p><% @sorted_coupons.each do |coupon| %></p>
  <% if coupon.status == ("active") %>
    <%= link_to "Show #{coupon.name}", "/merchants/#{@merchant.id}/coupons/#{coupon.id}" %> - Amount Off: $<%="#{coupon.discount}" %></p>
  <% end %>
<% end %>
</div>
<div id="inactive">
<h3> Inactive Coupons: </h3>
<p><% @sorted_coupons.each do |coupon| %></p>
  <% if coupon.status == ("inactive") %>
    <%= link_to "Show #{coupon.name}", "/merchants/#{@merchant.id}/coupons/#{coupon.id}" %> - Amount Off: $<%="#{coupon.discount}" %></p>
  <% end %>
<% end %>
</div>

<h3>Upcoming Holidays</h3>
<div id="upcoming_holidays">
<ul>
<% @upcoming_holidays.each do |holiday| %>
  <li><%= holiday[:name] %> <%= holiday[:date] %></li>
<% end %>
</ul>
</div>

<p><%= link_to "Return to Merchant Index", "/admin/merchants" %></p>
